/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    margin-top: 0em;
}

header {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 61px;
    height: 19px;
    margin-top: auto;
    margin-bottom: auto;
}

nav {
    width: 23%;
}

#menu ul {
    top: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

#menu li {
    padding-top: 15px;
    border-top: medium solid transparent;
}

#menu li:hover {
    color: #0065FC;
    border-top: medium solid #0065FC;
}

#menu li:active {
    color: #0065FC;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


.search-and-localisations {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-sizing: border-box;
}

.search-title {
    display: flex;
    flex-direction: column;
}

.search-title .section-title {
    font-weight: bold;
}

.localisation {
    display: flex;
    height: 64px;
    margin-top: 20px;
}

.localisation input{
    font-size:18px;
    font-weight: bold;
    padding-left: 2%;
    background-color: white;
    border-style: solid;
    border-color: var(--main-bg-color);
}

.loupebuton {
    visibility: hidden;
}

.localisation input:hover{
    border-color: var(--main-bg-color);
}

.localisation button{
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 30px 30px 0;
}

.localisation .loupebouton {
    width: 0;
    height: 0;
    visibility: hidden;
}

.filters {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.filters h3 {
    height: inherit;
    margin: auto 0 auto;
}

.filters button {
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    background-color: white;
    color: black;
    border-width: 1px;
    border: #D9D9D9;
    border-radius: 30px;
    border-style: solid;
}

.filters button:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

.search-localisation {
    background-color: var(--main-bg-color);
    width: 50px;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000000;
}

.informations {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.informations i {
    border-color: #D9D9D9;
    border-width: thin;
    padding: 0.87em 0.73em 0.87em 0.73em;
    border-radius: 100%;
    border-width: 0.1em;
}


/* .icon-localisation {
    width: 40px;
    height: 40px;
    padding: auto;
}

.input-localisation input{
    border: 0;
    margin: 0;
    padding: 20px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
} */

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-title {
    align-items: center;
}

.hebergements .card{
    width: 15rem;
    height: 208px;
    margin-top: 15%;
}

.hebergements .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements img {
    width: 100%;
    height: 125px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-footer h3 {
    margin-top: 33px;
    margin-bottom: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 145px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


.activites {
    width: 100%;
    margin-top: 33px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.activites-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.activites a {
    width: 23%;
    height: 100%;
}

.activites-cards .card{
    width: 90%;
    padding: 0;
    margin-top: 33px;
    margin-right: 33px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.activites-cards img {
    width: 100%;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-title {
    padding-left: 10px;
}

footer {
    background-color: var(--main-bg-color);
    margin-top: 33px;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    width: 33%;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
}

footer li {
    justify-content: space-between;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        width:100%;
        padding: 0;
    }

    
    .search-and-localisations {
        width: 100%;
        margin: 0;
        padding: 0 33px;
        align-items: center;
    }

    header {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    nav#menu  {
        width: 100%;
    }

    #menu ul {
        width: 100%;
        justify-content: center;
    }

    #menu li{
        width: 100%;
        text-align: center;
        padding-left: auto;
        padding-right: auto;
    }

    #menu li {
        padding-top: 0;
        padding-bottom: 15px;
        border-top: none;
        border-bottom: medium solid #D9D9D9;
    }
    
    #menu li:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: medium solid #0065FC;
    }
    
    #menu li:active {
        color: #0065FC;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements {
        background-color: transparent;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        padding: 0;
    }

    .hebergements-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0;
    }
    .hebergements-cards .card{
        width: 100%;
        margin-top: 15px;
    }

    .hebergements-cards a{
        width: 100%;
    }

    .hebergements-cards img{
        object-fit: cover;
    }

    footer {
        flex-direction: column;
    }

    .footer-column {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0;
    }

    .populaires-cards a {
        width: 100%;
        height: 100%;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .activites {
        max-width: 80%;
        margin: 0;
        padding: 33px;
    }

    .activites-title {
        margin-bottom: 20px;
    }

    .activites-cards {
        width: 100%;
        flex-direction: column;
    }

    .activites-cards a{
        width: 100%;
    }

    .activites-cards img{
        height: 140px;
    }

    .activites-cards .card{
        padding: 0;
        width: 100%;
        height: 200px;
        margin: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    .filters {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 30px;
        padding: O;
    }

    .filters-zone {
        margin-top: 20px;
    }

    .filters button {
        font-size: 14px;
        min-width: 150px;
        padding: 12px 12px;
        margin: 10px 3px;
    }

    .localisation button {
        padding-left: 5px;
        padding-right: 5px;
        width: 60px;
    }

    .localisation .loupebouton {
        width: initial;
        height: initial;
        padding-top: auto;
        padding-bottom:auto;
        color: white;
        visibility: visible;
    }

    .localisation .txtbouton {
        visibility: hidden;
        font-size: 0;
    }
}