/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 61px;
    height: 19px;
    margin-top: auto;
    margin-bottom: auto;
}

nav {
    width: 23%;
}

#menu ul {
    top: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

#menu li {
    padding-top: 15px;
    border-top: medium solid transparent;
}

#menu li:hover {
    color: #0065FC;
    border-top: medium solid #0065FC;
}

#menu li:active {
    color: #0065FC;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.recherches-and-localisations {
    display: flex;
    justify-content: space-between;
}

.recherches-and-localisations section {
    margin-top: 20px;
    border-radius: 20px;
    box-sizing: border-box;
}

.recherches-title {
    display: flex;
    flex-direction: column;


.localisation {
    display: flex;
    height: 64px;
    margin-top: 20px;
}

.localisation input{
    text-align: center;
    font-size:18px;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-color: var(--main-bg-color);
}

.localisation input:hover{
    border-color: var(--main-bg-color);
}

.filters {
    display: flex;
    margin-top: 40px;
}

.filters button {
    margin-left:20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    background-color: white;
    color: black;
    border-width: thin;
    border: #D9D9D9;
    border-radius: 30px;
    border-style: solid;
}

.filters button:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

.search-localisation {
    background-color: var(--main-bg-color);
    width: 50px;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000000;
}

.informations {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .icon-localisation {
    width: 40px;
    height: 40px;
    padding: auto;
}

.input-localisation input{
    border: 0;
    margin: 0;
    padding: 20px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
} */

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}